body
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.menu ul li
{
    display: inline-block;
    list-style: none;
    width: 150px;
}

.stopka
{
    padding: 90px;
    background-color: rgb(230, 233, 235);
    text-indent: 47%;
}